<h1>Upload a New Photo<hr /></h1>
<% form_for :photo, :url => {:return_to => @return_to, :action => 'create'}, :html => { :multipart => true } do |f| %>
  <%= error_messages_for :photo %>
  <label>File:</label> <%= file_field :photo, :image %>
  <label>Caption:</label> <%= text_field :photo, :caption %>
  <label>Gallery:</label> <%= select :photo, :gallery_id, PhotoGallery::Gallery.collection_for_select %>
  <br />
  <br />
  <%= submit_tag "Upload" %>
<% end %>
